head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name="description" content="Want to bring meaningful life to your website? We do light-weight animations, interactions and visual effects which inform web users in an entertaing way.")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name="author" content="Johan Stromqvist")
  meta(name="keywords" content="webanimation, web animation, animation, user experience, UX, vector graphics, SVG, Greensock, Hyper Island")
  title Nerdmanship template
  link(rel="apple-touch-icon" href="apple-touch-icon.png")
  link(rel='stylesheet', href='css/app.css')
  script(src='js/modernizr-2.8.3.min.js')